.head-vol{
    color: #185874;
    font-family: 'Russo One', sans-serif;
    text-decoration: underline;
    font-weight: 900;
    margin-top: 5px;
    text-align: center;
}
.table{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.table{
    border: 2px solid;
}
thead{
    background-color: #78a0b1;
}
.table-data:hover{
    background-color: #ddeef5;
}

@media (min-width:320px) and (max-width:576px){
    .head-vol{
        font-size: 40px;
        margin-left: 150px;
    }
}

@media (max-width:320px){
    .head-vol{
        margin-left: 150px;
    }

}
